{% extends 'base_layout.html' %}

{% block body %}



    <div class="upload-image">
    {% load static %}
        <img src="{% static 'images/index.png' %}" alt="">
        <form action="/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.image }}
            <button class="btn btn-outline-success" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        {% comment %} <div class="result">
            <img class="x-ray-heatmap" src="{% static 'images/X-Ray-sample.jpg' %}" alt="">
            <p class="text-danger">
                Covid-19
                <i class="fa fa-exclamation-triangle"></i>
            </p>
        </div> {% endcomment %}
    </div>
{% endblock body %}