{% extends 'base_layout.html' %}

{% block body %}



    <div class="upload-image">
    {% load static %}
        <img src="{% static 'images/index.png' %}" alt="">
        <form action="/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.image }}
            <button class="btn btn-outline-success" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        {% if result == 0 %}
            <div class="result">
                <img class="x-ray-heatmap" src="{{ MEDIA_URL }}media/uploads/x-ray/{{ image_address }}" alt="">
                    <p class="text-danger">
                        Covid-19
                        <i class="fa fa-exclamation-triangle"></i>
                    </p>
            </div> 
        {% elif result == 1 %}
            <div class="result">
                <img class="x-ray-heatmap" src="{{ MEDIA_URL }}media/uploads/x-ray/{{ image_address }}" alt="">
                    <p class="text-success">
                        NO Covid
                        {% comment %} <i class="fa fa-exclamation-triangle"></i> {% endcomment %}
                    </p>
            </div> 
        {% endif %}
    </div>
{% endblock body %}