/* --- Farsi Fonts --- */

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/IRANSansWeb_Bold.eot');
    src: url('fonts/IRANSansWeb_Boldd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/IRANSansWeb_Medium.eot');
    src: url('fonts/IRANSansWeb_Mediumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/IRANSansWeb_Light.eot');
    src: url('fonts/IRANSansWeb_Lightd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/IRANSansWeb_UltraLight.eot');
    src: url('fonts/IRANSansWeb_UltraLightd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IRANSansWeb.eot');
    src: url('fonts/IRANSansWebd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'IranSansNumbers';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IRANSansWeb(FaNum).woff2') format("woff2"), url('fonts/IRANSansWeb(FaNum).woff') format("woff"), url('fonts/IRANSansWeb(FaNum).ttf') format("truetype"), url('fonts/IRANSansWeb(FaNum).eot') format("embedded-opentype");
}

body {
    font-family: 'IranSansNumbers', sans-serif !important;
    margin: 0;
    text-align: right;
    direction: rtl;
    color: #606371;
}